@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadViewPartial")

<body>
	<div class="container-xxl bg-white p-0">

		<!-- Spinner Start -->
		@await Component.InvokeAsync("_SpinnerViewPartial")
		<!-- Spinner End -->
		<!-- Header Start -->
		@await Component.InvokeAsync("_NavbarViewPartial")
		<!-- Header End -->
		<!-- Carousel Start -->
		@await Component.InvokeAsync("_CarouselViewPartial")
		<!-- Carousel End -->
		@* 		<!-- Booking Start -->
		@await Component.InvokeAsync("_BookingViewPartial")
		<!-- Booking End -->
 *@		<!-- About Start -->
		@await Component.InvokeAsync("_AboutViewPartial")
		<!-- About End -->
		<!-- Room Start -->
		@await Component.InvokeAsync("_RoomViewPartial")
		<!-- Room End -->
		<!-- Video Start -->
		@await Component.InvokeAsync("_VideoViewPartial")
		<!-- Video End -->
		<!-- Service Start -->
		@await Component.InvokeAsync("_ServiceViewPartial")
		<!-- Service End -->
		<!-- Testimonial Start -->
		@await Component.InvokeAsync("_TestimonialViewPartial")
		<!-- Testimonial End -->
		<!-- Team Start -->
		@await Component.InvokeAsync("_TeamViewPartial")
		<!-- Team End -->
		<!-- Newsletter Start -->
		@* @await Component.InvokeAsync("_NewsletterViewPartial") *@
		@await Html.PartialAsync("SubscribeToNewsletter")
		<!-- Newsletter End -->
		<!-- Footer Start -->
		@await Component.InvokeAsync("_FooterViewPartial")
		<!-- Footer End -->
		<!-- Back to Top -->
		<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
	</div>

	<!-- JavaScript Libraries -->
	@await Component.InvokeAsync("_ScriptsViewPartial")

</body>

</html>

