@model IEnumerable<ResultWorkLocationDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
	int count = 0;
}

<div class="card">
	<div class="card-body">
		<h4 class="card-title">Şubeler</h4>
		<div class="table-responsive">
			<table class="table header-border table-hover verticle-middle">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Şube Adı</th>
						<th scope="col">Şehir</th>
						<th scope="col" class="text-center">Sil</th>
						<th scope="col" class="text-center">Düzenle</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						count++;
						<tr>
							<th>@count</th>
							<td>@item.WorkLocationName</td>
							<td>@item.WorkLocationCity</td>
							<td class="text-center"><a href="/Admin/WorkLocation/UpdateWorkLocation/@item.WorkLocationId" class="btn btn-rounded btn-outline-primary">Düzenle</a></td>
							<td class="text-center"><a href="/Admin/WorkLocation/DeleteWorkLocation/@item.WorkLocationId" class="btn btn-rounded btn-outline-danger">Sil</a></td>
						</tr>
					}
				</tbody>
			</table>
			<a href="/Admin/WorkLocation/CreateWorkLocation/" class="btn btn-rounded btn-primary">+ Yeni Şube Oluştur</a>
		</div>
	</div>
</div>


