@model ResultBookingWithRelationsDto
@{
	ViewData["Title"] = "BookingDetails";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
	<div class="card-body">
		<h4 class="card-title m b-4">Rezervasyon Detayları</h4>
		<div class="basic-form">
			<form>
				<div class="form-group">
					<label asp-for="Name">Misafir</label>
					<input type="text" class="form-control input-default" asp-for="Name" disabled>
				</div>

				<div class="form-group">
					<label asp-for="Mail">E-Posta Adresi</label>
					<input type="text" class="form-control input-default" asp-for="Mail" disabled>
				</div>

				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<label asp-for="Name">CheckIn Tarihi</label>
							<input type="date" class="form-control input-default" asp-for="CheckIn" disabled>
						</div>
					</div>

					<div class="col-6">
						<div class="form-group">
							<label asp-for="Name">CheckOut Tarihi</label>
							<input type="date" class="form-control input-default" asp-for="CheckOut" disabled>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col-3">
						<div class="form-group">
							<label asp-for="AdultCount">Yetişkin Sayısı</label>
							<input type="text" class="form-control input-default" asp-for="AdultCount" disabled>
						</div>
					</div>

					<div class="col-3">
						<div class="form-group">
							<label asp-for="ChildCount">Çocuk Sayısı</label>
							<input type="text" class="form-control input-default" asp-for="ChildCount" disabled>
						</div>
					</div>

					<div class="col-3">
						<div class="form-group">
							<label asp-for="RoomTitle">Oda</label>
							<input type="text" class="form-control input-default" asp-for="RoomTitle" disabled>
						</div>						
					</div>

					<div class="col-3">
						<div class="form-group">
							<label asp-for="Status">Durum</label>
							<input type="text" class="form-control input-default" asp-for="Status" disabled>
						</div>
					</div>

				</div>

				<div class="form-group">
					<label asp-for="SpecialRequest">Özel İstek</label>
					<textarea type="text" class="form-control input-default" asp-for="SpecialRequest" disabled style="height: 100px;"></textarea>
				</div>

				<div class="form-group">
					<label asp-for="Description">Açıklama</label>
					<textarea type="text" class="form-control input-default" asp-for="Description" disabled style="height: 100px;"></textarea>
				</div>
			</form>
		</div>
	</div>
</div>


